@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Poppins:wght@100;300;400;700&family=Roboto:wght@100;700&family=Rubik:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
   font-family: "Roboto", sans-serif;
   font-weight: 400;
}

input:focus,
textarea:focus,
select:focus {
   outline: 0 !important;
   box-shadow: none !important;
}

/* Basic class for tailwind */
.hovers {
   @apply hidden;
}
.hovered:hover .hovers {
   @apply flex-colo;
}
.flex-colo {
   @apply flex flex-col justify-center items-center;
}

.flex-rows {
   @apply flex flex-row justify-center items-center;
}

.flex-btn {
   @apply flex justify-between items-center;
}
.transition {
   @apply transition duration-300 ease-in;
}

.zIndex {
   z-index: 1000;
}
