@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Poppins:wght@100;300;400;700&family=Roboto:wght@100;700&family=Rubik:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;



body{
   @apply bg-main bg-[url('./assets/texture.png')]
}
body,
html {
   font-family: "Roboto", sans-serif;
   font-weight: 400;
}
input:focus,
textarea:focus,
select:focus {
   outline: 0 !important;
   box-shadow: none !important;
}

/* Basic class for tailwind */
.linear-bg {
   background: linear-gradient(269.82deg, #07091c00 0.17, #080a1ad6 99.87%);
}
.hovers {
   @apply hidden;
}
.hovered:hover .hovers {
   @apply flex-colo;
}
.flex-colo {
   @apply flex flex-col justify-center items-center;
}

.flex-rows {
   @apply flex flex-row justify-center items-center;
}

.flex-btn {
   @apply flex justify-between items-center;
}
.transitions {
   @apply transition duration-300 ease-in;
}

.zIndex {
   z-index: 1000;
}

h {
   background: #46c3f9;
}

.container {
   @apply px-[3rem];
}

@media screen and (max-width: 992px) {
   .container {
      @apply px-[0.8rem];
   }
}

.hide {
   display: none;
}
.show {
   position: fixed;
   display: flex;
   width: 100vw;
   height: 88vh;
   background: #0b0f29;
   flex-direction: column;
   gap: 2rem;
   bottom: 64px;
   left: 0;
   z-index: 99;
}
@media screen and (max-width: 600px) {
   .container {
      @apply px-[0.8rem];
   }
}
